History/EURUSD/M15/EURUSD_Candlestick_15_m_BID_01.01.2013-08.10.2016.csv
History/EURUSD/M5/EURUSD_Candlestick_5_m_BID_01.01.2013-08.10.2016.csv
History/AUDUSD/D1/AUDUSD_Candlestick_1_D_BID_01.01.2013-08.10.2016.csv
History/AUDUSD/H1/AUDUSD_Candlestick_1_h_BID_01.01.2013-08.10.2016.csv
History/AUDUSD/H4/AUDUSD_Candlestick_4_h_BID_01.01.2013-08.10.2016.csv
History/AUDUSD/M15/AUDUSD_Candlestick_15_m_BID_01.01.2013-08.10.2016.csv
History/AUDUSD/M5/AUDUSD_Candlestick_5_m_BID_01.01.2013-08.10.2016.csv
History/EURUSD/D1/EURUSD_Candlestick_1_D_BID_01.01.2013-08.10.2016.csv
History/EURUSD/H1/EURUSD_Candlestick_1_h_BID_01.01.2013-08.10.2016.csv
History/EURUSD/H4/EURUSD_Candlestick_4_h_BID_01.01.2013-08.10.2016.csv
History/GBPUSD/D1/GBPUSD_Candlestick_1_D_BID_01.01.2013-08.10.2016.csv
History/GBPUSD/H1/GBPUSD_Candlestick_1_h_BID_01.01.2013-08.10.2016.csv
History/GBPUSD/H4/GBPUSD_Candlestick_4_h_BID_01.01.2013-08.10.2016.csv
History/GBPUSD/M15/GBPUSD_Candlestick_15_m_BID_01.01.2013-08.10.2016.csv
History/GBPUSD/M5/GBPUSD_Candlestick_5_m_BID_01.01.2013-08.10.2016.csv
History/USDJPY/D1/USDJPY_Candlestick_1_D_BID_01.01.2013-08.10.2016.csv
History/USDJPY/H1/USDJPY_Candlestick_1_h_BID_01.01.2013-08.10.2016.csv
History/USDJPY/H4/USDJPY_Candlestick_4_h_BID_01.01.2013-08.10.2016.csv
History/USDJPY/M15/USDJPY_Candlestick_15_m_BID_01.01.2013-08.10.2016.csv
History/USDJPY/M5/USDJPY_Candlestick_5_m_BID_01.01.2013-08.10.2016.csv
Files/LongVision/LongVision_PatternEntries.csv
